# Database
DATABASE_NAME='mailcontext'

# Database user
DATABASE_USERNAME='postgres'

# Database password
DATABASE_PASSWORD='password'

# Host
DATABASE_HOST='0.0.0.0'

# Dialect
DATABASE_DIALECT='postgres'

# Port
APP_PORT=3333

# Redis credentials
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# SMTP_CONFIGS
SMTP_PROVIDER=
SMTP_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_PASS=